
@{
    ViewBag.Title = "Why";
}
    <div id="about" class="btn-group">
        <ul class="list-inline">
            <li class="btn btn-default"><a href="@Url.Action("Who", "Home")" class="ajax-button">Who</a></li>
            <li class="btn btn-default"><a href="@Url.Action("What", "Home")" class="ajax-button">What</a></li>
            <li class="btn btn-default"><a href="@Url.Action("Where", "Home")" class="ajax-button">Where</a></li>
            <li class="btn btn-default"><a href="@Url.Action("Why", "Home")" class="ajax-button">Why</a></li>
            <li class="btn btn-default"><a href="@Url.Action("How", "Home")" class="ajax-button">How</a></li>
        </ul>
    </div>

    <div id="container">
        <div class="about-content">
            <h2>Why</h2>

            <p>
                Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why Why
            </p>
        </div>
    </div>