<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Week7CodeChallenge</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="col-md-12">
        <div id="logo" class="col-md-2"><a href="@Url.Action("Index", "Home")"><img src="http://cdn-img.easylogo.cn/gif/51/51700.gif" height="100" width="100" /></a></div>
        <div id="navbar-wrapper" class="col-md-10">
            <div id="navbar">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Work", "Work", "Home")</li>
                    <li>@Html.ActionLink("Careers", "Careers", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Fake Studio</p>

            <div id="footerNav-wrapper">
                <div id="footerNavbar">
                    <ul>
                        <li>@Html.ActionLink("Home", "Index", "Home") | </li>
                        <li>@Html.ActionLink("About", "About", "Home") | </li>
                        <li>@Html.ActionLink("Work", "Work", "Home") | </li>
                        <li>@Html.ActionLink("Careers", "Careers", "Home") | </li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Main.js"></script>
</body>
</html>
